<mat-nav-list>

  <a mat-list-item  [routerLink]="['dashboard']" routerLinkActive="router-link-active"  style="margin-top: 2em;"  > <mat-icon style="color: gray; margin:30px;">dashboard</mat-icon> DashBoard </a>
  <a mat-list-item  [routerLink]="['manageclass']" style="margin-top: 2em;" > <mat-icon style="color: gray; margin:30px;">class</mat-icon> Manage ClassRoom</a>
  <a mat-list-item   [routerLink]="['manageusers']"  style="margin-top: 2em;" > <mat-icon style="color: gray; margin:30px;">people</mat-icon> Users </a>
  <a mat-list-item style="margin-top: 2em;" ><mat-icon style="color: gray; margin:30px;"> local_activity</mat-icon> Activities </a>
  <a mat-list-item   [routerLink]="['notificationandissues']"   style="margin-top: 2em;" ><mat-icon style="color: gray; margin:30px;"> <mat-icon>notifications</mat-icon></mat-icon> Notifications </a>





</mat-nav-list>
