<div>
<mat-toolbar   class="expanded-toolbar navbar-transparent">

  <span>
    DashBoard
  </span>
<div fxLayoutAlign="center start" fxShow="true" fxShow.gt-sm >

    <button mat-button  >  <mat-icon>notifications</mat-icon>   </button>

    <button mat-button > <mat-icon>supervisor_account</mat-icon> </button>
      <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
                Sign Out
                </button>
        </mat-menu> -->


</div>
</mat-toolbar>
</div>
