<div>



<div  fxLayout="row" fxFlex="80" style="margin: 30px; text-align:center; margin-top:1em;" fxLayoutAlign="start start">
  <h3 style="display: flex;"> Select your Class </h3>


  <mat-card ><p style="font-size:1.3vw;" >Kindergarten 2 (KG 2)</p><button (click)="kg2()"  mat-raised-button > Enter ClassRoom <mat-icon>arrow_forward</mat-icon></button></mat-card>

  <mat-card><p style="font-size:1.3vw;">Basic School 1 (BS 1)  </p><button (click)="bs1()" mat-raised-button >Enter ClassRoom <mat-icon>arrow_forward</mat-icon></button> </mat-card>

  <mat-card><p style="font-size:1.3vw;">Basic School 2 (BS 2) </p> <button (click)="bs2()" mat-raised-button >Enter ClassRoom <mat-icon>arrow_forward</mat-icon></button> </mat-card>
  <mat-card><p style="font-size:1.3vw;">Basic School 3 (BS 3) </p> <button (click)="bs3()" mat-raised-button >Enter ClassRoom <mat-icon>arrow_forward</mat-icon></button>  </mat-card>
  <mat-card><p style="font-size:1.3vw;"> Basic School 4 (BS 4) </p> <button (click)="bs4()" mat-raised-button >Enter ClassRoom<mat-icon>arrow_forward</mat-icon></button> </mat-card>

</div>

</div>
