button:hover{
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -2px grey;
}


button {
  align-items: flex-end;
  width: 40%;
  height: 40%;
  width: max-content;
  flex-direction: row;
  display: inline-flex;
  flex-direction: row;
  margin-right: 10px;
  right: 0;
  position: absolute;
}

mat-icon {
  width: 70px;
  flex-direction: row;
}

mat-card {
  width: 60%;
  height: 70%;

  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 50px;
  margin: 20px;


  background-color:white;


}


.mbody {
  background-image:  url("src/bghome.jpg") no-repeat center, linear-gradient(red, yellow);
  background-repeat: no-repeat;
  }


  mat-card:active {
    background-color: #fffdff;

    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -2px rgba(255, 255, 255, 0.4);
  }

  mat-card:hover {
    background-color: #9794962f;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -2px rgba(255, 255, 255, 0.4);
    font-size: 150%;
  }
