<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">Happy Kids E-Learning</button>
  </span>
<div fxLayoutAlign="center start" fxShow="true" fxShow.gt-sm >
  <button mat-button  routerLink='/adminlogin' >
    <mat-icon>supervisor_account</mat-icon>
    Admin
  </button>


</div>
</mat-toolbar>

<div *ngIf="isSubmitted" style="margin-top: 1px;">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<!-- Material form login -->
<mat-card>
  <div class="card">
  <mat-card-header class="card-header info-color white-text text-center py-4" >

     <p> SIGN IN </p>

  </mat-card-header>
  </div>

  <!--Card content-->
  <mat-card-content class="px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="loginForm" style="color: #757575;" (ngSubmit)="signIn()" >


      <!-- Email -->
      <div class="md-form">
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" id="email" formControlName="email" placeholder="E-mail" class="form-control" matInput>
      </p>
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
      </div>

      <!-- Password -->
      <div class="md-form">
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" id="password" formControlName="password" placeholder="Password" class="form-control" matInput>
      </p>
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
      </div>


       <!-- Sign in button -->
       <button mat-raised-button color="primary" style="flex:content; width: 100%; text-align:center; "   type="submit" class="z-depth-0 my-4 waves-effect">Sign In</button>



      <!-- Register -->

      <a href="" routerLink='/register' style="font-size: medium; padding: 1em;">Sign Up here </a>




    </form>
    <!-- Form -->


  <!-- Sign in with Google -->
  <button mat-raised-button color="primary" (click)="withGoogle()" style="flex:content; width: 50%; text-align:center; margin:30px; "    class="z-depth-0 my-4 waves-effect">Sign In with <mat-icon>alternate_email</mat-icon>Google</button>


  </mat-card-content>

</mat-card>
<!-- Material form login -->
