<div  fxLayout="row" fxFlex="40" style="margin: 30px; margin-bottom:1em;" fxLayoutAlign="center start" >
  <h3 style="display: flex;">DashBoard</h3>
</div>

<div  fxLayout="row" fxFlex="40" style="margin: 30px; display:block;" fxLayoutAlign="center start"  >

    <mat-card class ="mat-card1">
      <mat-icon class="icon1">computer</mat-icon>
      <ul style="list-style-type: none;">
        <li>Active Users</li>
        <div *ngIf="activeCount">
          <li style="font:caption; font-size:x-large; margin:5px;">+{{activeCount}}</li>
        </div>


      </ul>
    </mat-card>

    <mat-card class ="mat-card1">
      <mat-icon class="icon2">how_to_reg</mat-icon>
      <ul style="list-style-type: none;">
        <li>Subscriptions</li>
        <div *ngIf="subscriptCount">
          <li style="font:caption; font-size:x-large; margin:5px;">+{{subscriptCount}}</li>
        </div>


      </ul>
    </mat-card>


    <mat-card class ="mat-card1">
      <mat-icon class="icon3">cloud_circle</mat-icon>
      <ul style="list-style-type: none;">
         <li>Online      </li>

        <li style="font:caption; font-size:x-large; margin:5px;">+10</li>

      </ul>
      </mat-card>






</div>




<div  style="margin-left:30px;  "  >

  <!--History -->
<div style="  margin:50px; margin-left:30px; margin-top:20px;">
  <mat-card style="width: 97.7%;  background-color:grey; color:white;"  >
    <ul style="list-style-type: none;">
      <li>User Added History </li>

     <li style="font:caption; font-size:large; margin:5px;">New Users Added to the System</li>

   </ul>
  </mat-card>

  <div *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <!-- Name Column -->
      <ng-container matColumnDef="student_name">
        <th mat-header-cell *matHeaderCellDef> Student Name </th>
        <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="parent_name">
        <th mat-header-cell *matHeaderCellDef> Parent Name </th>
        <td mat-cell *matCellDef="let element"> {{element.parent_name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone_number">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
  <!--Recent Users -->

<div style="  margin:50px; margin-left:30px; margin-top:20px;">


  <mat-card  class ="mat-card2" style="width: 97.7%; background-color:orange; color:white;"  >
    <ul style="list-style-type: none;">
      <li>Materials Added     </li>

     <li style="font:caption; font-size:large; margin:5px;">New Materials Added</li>

   </ul>
  </mat-card>
<div *ngIf="materialSource">

  <table mat-table [dataSource]="materialSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lesson">
      <th mat-header-cell *matHeaderCellDef> Lesson </th>
      <td mat-cell *matCellDef="let element"> {{element.lesson}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="materialdisplayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: materialdisplayColumns;"></tr>
  </table>

</div>

</div>

</div>



