:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

heard-dec{
  display: inline-block;
  flex-direction: row;
  width: 70%;
}


mat-drawer {
  width: fit-content;
}

mat-drawer-container {
  height: 100%;
}


.vf {

  background-image: url('/asset/bghome.jpg');
}
