:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

heard-dec{
  display: inline-block;
  flex-direction: row;
  width: 70%;
}


mat-drawer {
  width: 20%;
}

mat-drawer-container {
  height: 100%;
}
