
<div  fxLayout="row" fxFlex="40" style="margin: 30px; margin-bottom:5em;" fxLayoutAlign="center start" >
  <h3 style="display: flex;">Extra Curricular Activities</h3>
</div>


<div  fxLayout="row" fxFlex="40" style="margin: 30px;" fxLayoutAlign="center start" >

  <mat-card >

    <ul style="list-style-type: none;">
      

      <li style="font:larger; font-size:x-large; margin:20px;">SNAKE GAME</li>

      <li style="font:lighter; font-size:small; margin:20px;">Click the button bellow to add game to extracurricular activity</li>

      <li style=" margin:20px;"> <mat-slide-toggle>Enable Game Activity</mat-slide-toggle>
    </ul>

  </mat-card>

  
    <mat-card >

      <ul style="list-style-type: none;">
        <li style="font:larger; font-size:x-large; margin:20px;">THREES GAME</li>

        <li style="font:lighter; font-size:small; margin:20px;">Click the button bellow to add game to extracurricular activity</li>
  
        <li style=" margin:20px;"> <mat-slide-toggle>Enable Game Activity</mat-slide-toggle>
        </li>
      </ul>

    </mat-card>

 



    <mat-card >

      <ul style="list-style-type: none;">
        <li style="font:larger; font-size:x-large; margin:20px;">LINE RIDER GAME</li>

        <li style="font:lighter; font-size:small; margin:20px;">Click the button bellow to add game to extracurricular activity</li>
  
        <li style=" margin:20px;"> <mat-slide-toggle>Enable Game Activity</mat-slide-toggle>
      </ul>

    </mat-card>

 



</div>

