<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">Happy Kids E-Learning</button>
  </span>

</mat-toolbar>

<div *ngIf="isSubmitted" style="margin-top: 1px;">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<!-- Material form login -->
<mat-card>
  <div class="card">
  <mat-card-header class="card-header info-color white-text text-center py-4" >
    <p >
      Sign Up
    </p>
  </mat-card-header>
  </div>

  <!--Card content-->
  <mat-card-content class="px-lg-5 pt-0">

    <!-- Form -->
    <form  [formGroup]="registerForm" style="color: #757575;" (ngSubmit)="registerMe()">

      <!-- Email -->
      <div class="md-form">
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" id="email" formControlName="email" placeholder="E-mail" class="form-control" matInput>
          </p>
          <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
            <div *ngIf="formControls.email.errors.required">Email is required</div>
          </div>
      </div>

      <!-- Password -->
      <div class="md-form">
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.pwd.errors }">
        <input type="password" id="pwd" formControlName="pwd" placeholder="Password" class="form-control" matInput>
      </p>
        <div *ngIf="isSubmitted && formControls.pwd.errors" class="help-block">
          <div *ngIf="formControls.pwd.errors.required">Password is required</div>
        </div>
      </div>



       <!-- Sign UP button -->
       <button mat-raised-button color="primary"  style="flex:content; width: 100%; text-align:center; "  type="submit" class="z-depth-0 my-4 waves-effect">Sign Up</button>

    </form>
    <!-- Form -->

  </mat-card-content>

</mat-card>
<!-- Material form login -->

