<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">E-Learning</button>
  </span>
<div fxLayoutAlign="center start" fxShow="true" fxShow.gt-sm >
  <button mat-button  routerLink='adminlogin' >
    <mat-icon>supervisor_account</mat-icon>
    Admin
  </button>


</div>
</mat-toolbar>



<!-- Material form login -->
<mat-card>
  <div class="card">
  <mat-card-header class="card-header info-color white-text text-center py-4" >
    <h2 >
      Register
    </h2>
  </mat-card-header>
  </div>

  <!--Card content-->
  <mat-card-content class="px-lg-5 pt-0">

    <!-- Form -->
    <form  [formGroup]="registerForm" style="color: #757575;">

      <!-- Email -->
      <div class="md-form">
        <input type="email" id="email" formControlName="email" placeholder="E-mail" class="form-control" matInput>

      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="pwd" formControlName="pwd" placeholder="Password" class="form-control" matInput>

      </div>

      <!-- Phone -->
      <div class="md-form">
        <input type="tel" id="phone" class="form-control" formControlName="phone" placeholder="Phone Number" matInput>

      </div>

      <!-- Class -->

      <div class="md-form" >
          <mat-select  [multiple]="false" formControlName="class" placeholder="Choose your Class" label="class">
            <mat-option value="KG1" >KG 1</mat-option>
            <mat-option value="BS Class 1">BS Class 1</mat-option>
            <mat-option value="BS Class 2">BS Class 2</mat-option>
            <mat-option value="BS Class 3">BS Class 3</mat-option>
            <mat-option value="BS Class 4">BS Class 4</mat-option>

          </mat-select>


      </div>




       <!-- Sign UP button -->
       <button mat-raised-button color="primary" style="width : 20em; "  type="submit" class="z-depth-0 my-4 waves-effect">Register</button>

    </form>
    <!-- Form -->

  </mat-card-content>

</mat-card>
<!-- Material form login -->

